Makefile.in
aclocal.m4
autom4te.cache/*
config.guess
config.sub
configure
depcomp
.*.swp
inst/*
install-sh
missing
src/config.h.in

Makefile
config.log
config.status
data/Makefile
data/models/Makefile
doc/Makefile

enet/.deps/*

*.o
*.a
*.Po

src/config.h
src/crack-attack
src/stamp-h1
